<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
        <main class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <h1>Create a Tournament</h1>
                    <form method="post">
                        <fieldset class="form-group">
                            <label for="name">Tournament Name: *</label>
                            <input type="text" name="name" class="form-control" required />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="size">Tournament Size: *</label>
                            <label class="radio-inline">
                                <input type="radio" name="size" id="size8" value="8"> 8
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="size" id="size16" value="16"> 16
                            </label>
                        </fieldset>

                        <!-- teams ARRAY -->
                        <fieldset class="form-group">
                            <label for="teams">1st Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">2nd Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">3rd Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">4th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">5th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">6th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">7th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">8th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">9th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">10th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">11th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">12th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">13th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">14th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">15th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="teams">16th Team Name: *</label>
                            <input type="text" name="teams" class="form-control" required />
                        </fieldset>


                        <fieldset class="form-group text-right">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a href="/tournaments">
                                <input type="button" class="btn btn-warning" value="Cancel" />
                            </a>
                        </fieldset>
                    </form>
                </div>
            </div>

        </main>
<% include ../partials/bootstrap.ejs %>
<% include ../partials/footer.ejs %>